<!DOCTYPE html>
<html>
<head>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='tmp.js'></script>
    <script src='tmp1.js'></script>
    <script srt="hello.js"></script>

    <!--
    <script src="https://code.angularjs.org/1.3.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-route.js"></script>
    <link rel='stylesheet type=text/css href=tmp.css' />
    -->
    <style type='text/css'>
    </style>
    <script type='text/javascript'>
    </script>


</head>
<body>
<button>Test</button>
</body>
</html>
